# Ignore Visual Studio temporary files, build results, and
# user-specific files

.vs/
*.user
*.suo

# Build results
bin/
obj/

# NuGet packages
*.nupkg
packages/

# Rider
.idea/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
